* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 23;
}

p {
    margin-bottom: 0;
}

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 94px;
    padding: 0 60px;
    z-index: 1;
    letter-spacing: 2px;
    transition: background .2s ease;
}

nav.scrolled {
    background-color: #1F445B;
}

.logo {
    color: #C9E1ED;
    font-family: 'Cabin', sans-serif;
}

.logo:hover {
    color: #C9E1ED;
    text-decoration: none;
}

.logo svg {
    width: 55px;
    height: auto;
    fill: #C9E1ED;
    transition: transform .4s ease, filter .2s ease;
    filter: drop-shadow(2px 4px 5px black);
    -webkit-filter: drop-shadow(2px 4px 5px black);
}

.scrolled .logo svg {
    filter: none;
}

.logo span {
    margin-left: 5px;
}

.logo:hover svg {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    height: 100%;
}

nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C9E1ED;
    padding: 0 30px;
}

nav ul li a {
    color: #C9E1ED;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 0;
    background-color: #C9E1ED;
    transition: width .4s ease;
}

nav ul li a:hover {
    color: #C9E1ED;
    text-decoration: none;
}

nav ul li a:hover::after {
    width: 100%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #C9E1ED;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 5px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.navbar-darkBG.show {
    display: none;
}

main {
    color: #34363c;
}

.banner1 .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner1 .carousel-item:nth-child(1) {
    background-image: url(https://imgbbb.com/images/2020/09/06/banner1.png);
}

.banner1 .carousel-item:nth-child(2) {
    background-image: url(https://imgbbb.com/images/2020/09/07/banner3.png);
}

.banner1 .carousel-item:nth-child(3) {
    background-image: url(https://imgbbb.com/images/2020/09/07/banner4.png);
}

.banner1 .carousel-item p {
    font-weight: 500;
    font-family: 'Cabin', sans-serif;
    color: #ececec;
    text-shadow: 0 3px 11px black;
}

.banner1 .carousel-item:nth-child(1) {
    font-size: 86px;
}

.banner1 .carousel-item:nth-child(2) {
    font-size: 60px;
}

.banner1 .carousel-item:nth-child(3) {
    font-size: 86px;
}

.section {
    padding: 120px 0;
}

.bg1 {
    background-color: #fff;
}

.bg2 {
    background-color: #e8e8e8;
}

.bg3 {
    background-color: rgba(38, 84, 112, 0.75);
}

.p1 .col-lg:nth-child(1),
.p2 .col-lg:nth-child(1),
.p3 .col-lg:nth-child(1),
.p5 .col-lg:nth-child(1) {
    display: flex;
    align-items: center;
}

.p1 p,
.p2 p,
.p3 p,
.p5 p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
}

.p1 img,
.p2 img,
.p3 img,
.p5 img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.p2 .row {
    display: flex;
    flex-direction: row-reverse;
}

.p4,
.p6 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p4 {
    background-image: url(https://imgbbb.com/images/2020/09/07/img12.png);
}

.p4 .bg3,
.p6 .bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p4 p,
.p6 p {
    padding: 0 60px;
    text-align: center;
    font-weight: 500;
    font-family: 'Cabin', sans-serif;
    color: #ececec;
    text-shadow: 0 3px 11px black;
    z-index: 1;
}

.p4 p {
    font-size: 30px;
}

.p6 {
    background-image: url(https://imgbbb.com/images/2020/09/07/img9.png);
}

.p6 p {
    font-size: 36px;
}

.p7 {
    position: relative;
}

.p7 .col-lg {
    display: flex;
    justify-content: center;
}

.p7 .card {
    width: 500px;
    margin-top: -160px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 7px black;
}

.p7 .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

#scienceCard {
    background-color: #f8dfd5;
    border: 3px solid #970a03;
}

#securityCard {
    background-color: #cad3fa;
    border: 3px solid #005e83;
}

#hecuCard {
    background-color: #d5ffb1;
    border: 3px solid #456322;
}

#scienceCard .card-header {
    background-color: #970a03;
}

#securityCard .card-header {
    background-color: #005e83;
}

#hecuCard .card-header {
    background-color: #456322;
}

.p7 .card-header img {
    margin-top: -75px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.p7 .card-header p {
    color: #ececec;
    font-size: 26px;
    font-family: 'Cabin', sans-serif;
    font-weight: 900;
    padding-bottom: 15px;
}

.p7 .card-header + .container p {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family: "Titillium Web", sans-serif;
}

@media screen and (max-width: 768px) {
    nav {
        background-color: #1F445B;
    }
    .logo svg {
        filter: none;
    }
    .burger {
        display: inline-block;
    }
    .navLinks {
        position: absolute;
        top: 90px;
        right: 0;
        height: calc(100vh - 90px);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #1F445B;
        transform: translateX(100%);
        transition: all .5s ease;
    }
    .navLink {
        justify-content: flex-start;
    }
    .navLink a:hover::after {
        width: 0;
    }
    .navbar-darkBG {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        background: rgba(0, 0, 0, 0.49);
        z-index: -1;
    }
    .navbar-darkBG.show {
        display: block;
    }
}

.navActive {
    transform: translateX(0%);
    transition: all .5s ease;
}